h1 {
  border-radius: 5%;
  background-color: dodgerblue;
  text-decoration: underline;
  padding: 10px;
}

a {
  color: white;
}

div {
  background-color: dodgerblue;
  color: white;
  width: 100%;
  height: 200px;
  text-align: center;
  line-height: 200px;
  font-size: 20px;
}
